$dark: #0C2D48;
$medium: #145DA0;
$normal: #2E8BC0;
$text: #FFFFFF;
$concluido: #369227;
$em_andamento: #5590EA;
$nao_iniciado: #6C6B6B;
$parado: #BAB310;
$cancelado: #9D1010;
$background-footer: #777777