@import "styles/variaveis";
@import "styles/breakpoints";

.input {
    background-color: white;
    width: calc(100px + 30vmin);
    border-radius: 10px;

    &__description {
        background-color: white;
        width: calc(100px + 76vmin);
        border-radius: 10px;
    }
    &__pequeno {
        background-color: white;
        width: calc(100px + 10vmin);
        border-radius: 10px;
    }
}

.title {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 25px;
    padding: 20px;
    margin: 20px;
    color: $text;
}

.previstos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
}

.linhaStart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}